<html>
	<head>
		<title>Thing Counter Using Angular JS</title>
		<link href="angular.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
		<script src="angular.js" type="text/javascript"></script>
	</head>
	<body class="body" ng-app="ThingCounterApp">
		<header class="header">
			<div >
				<h3 class="top_content">Active Counters</h3>
			</div>
		</header>

<div ng-controller="myCtrl" >
	<div id="mainPage" ng-show="!advstatus">
			<div class="main_page">
<!-- 				<my-customer></my-customer> -->
			</div>
		</div>
	</div>
	<input type=button id="plus_button_bottom" ng-click="advstatus=true" value= '+'><br/>

			<div id="formpage" ng-show="advstatus">
	 			<form id="myForm"  name="myForm" method="post" onsubmit = "return(validate());">
					<div class="header">
						<input type="submit" class="saveForm" value= 'SAVE' ng-click="advstatus=false">
					</div>
					<div class="container" ng-controller='MainCtrl'>
					<label for="label">lable</label>
					<input type="text" id="label" name="lable" ng-model='text'/>
					<label for="color">color</label>
					<select id="color" name="color">
					<option value="grey" class="grey_color">grey</option>
					<option value="pink" class="pink_color">pink</option>
					<option value="yellow" class="yellow_color">yellow</option>
					<option value="grey" class="green_color">green</option>
					<option value="grey" class="red_color">red</option>
					<option value="grey" class="white_color">white</option>
					<option value="grey" class="black_color">black</option>
					</select>
				</div>
			</form>
			</div>

</body>
</html>

